<header class="page-header">
  <nav class="site-nav">
    <a href="./index.html" class="logo">
      <svg width="123px" height="34px">
        <use
          class="icon-logo"
          href="./images/svg/symbol-defs.svg#icon-Logo-1"
        ></use></svg
    ></a>
    <button
      type="button"
      class="menu-batton is-closed"
      aria-expanded="false"
      aria-controls="menu"
      data-menu-button
    >
      <svg width="32px" height="32px" aria-label="mobile menu switcher">
        <use
          class="icon-cross"
          href="./images/svg/symbol-defs.svg#icon-clarity_close-line-1"
        ></use>
        <use
          class="icon-menu"
          href="./images/svg/symbol-defs.svg#icon-menu-1"
        ></use>
      </svg>
    </button>
    <!-- <ul>
      <li>Home</li>
      <li>Favorite</li>
    </ul> -->
    <input class="header-input" type="text" placeholder="Search" />
  </nav>
</header>
